$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.soundcloud-player {
    max-width: 280px;
    margin: 0 auto;
    @include clearfix;
    padding: 6px 8px;
    background: #222;
    text-align: left;
    margin-bottom: 40px;
    border-radius: 4px;
    // float: left;
    width: 100%;
    box-sizing: border-box;
    // display: inline-block;

    // @include media(M) {
    //     display: inline-block;
    // }

    &__track-name {
        font-size: 14px;
        margin-bottom: 1px;
        // float: right;
        // width: 100%;
    }

    .sb-soundplayer-timer {
        font-size: 10px;
        // text-align: right;
        // float: right;
        // width: 100%;
    }

    .sb-soundplayer-play-btn {
        display: inline-block;
        background: #000;
        border: 0;
        color: #8ff;
        outline: none;
        padding: 10px;
        cursor: pointer;
        margin-bottom: 4px;
        border-radius: 4px;
        // margin-right: 10px;

        &>svg,
        &>img {
            display: block;
            width: 14px;
            height: auto;
        }
    }

    .sb-soundplayer-progress-container {
        background: #000;
        cursor: pointer;
        height: 4px;
        // margin-bottom: 8px;
        // border-radius: 4px;
        overflow: hidden;
        // margin: 0 -2px;
        position: relative;
    }

    .sb-soundplayer-progress-inner {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(#8ff,.75);
        height: 100%;
        transition: width .25s ease;
    }

    .sb-soundplayer-play-icon {

    }
}
