$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.soundcloud-player {
    max-width: 333px;
    margin: 0 auto;
    @include clearfix;
    padding: 10px;
    background: #222;
    text-align: left;
    margin-bottom: 20px;

    &__track-name {
        font-size: 14px;
        margin-bottom: 4px;
        // float: right;
        // width: 100%;
    }

    .sb-soundplayer-timer {
        font-size: 10px;
        // text-align: right;
        // float: right;
        // width: 100%;
    }

    .sb-soundplayer-play-btn {
        display: inline-block;
        background: #000;
        border: 0;
        color: #8ff;
        outline: none;
        padding: 10px 14px;
        cursor: pointer;
        margin-bottom: 8px;
        border-radius: 4px;

        &>svg {
            display: block;
            width: 18px;
            height: auto;
        }
    }

    .sb-soundplayer-progress-container {
        background: #000;
        cursor: pointer;
        height: 8px;
        // margin-bottom: 8px;
        overflow: hidden;
    }

    .sb-soundplayer-progress-inner {
        background: rgba(#fff,.05);
        height: 100%;
        transition: width .25s ease;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: -2px;
            right: 0;
            bottom: -2px;
            // height: 150%;
            width: 1px;
            background: #8ff;
            // margin-bottom: -4px;
        }
    }
}
