@import '../../node_modules/coriolan-ui/mixins/clearfix';

$sidebarWidth: 260px;
$gridIndent: 20px;

.release-page {
    @include clearfix;
    margin: 0 -#{$gridIndent};

    &__sidebar {
        overflow: hidden;
        float: left;
        width: $sidebarWidth;
        padding: 0 $gridIndent;
        box-sizing: border-box;
    }

    &__content {
        float: left;
        width: calc(100% - #{$sidebarWidth});
        padding: 0 20px;
        box-sizing: border-box;
    }

    &__title {
        // float: left;
        // width: 100%;
    }

    &__cover {
        // float: left;
        width: 100%;
        height: auto;
        display: block;
        max-width: 333px;
        margin-bottom: 20px;
    }
}
