@import '../../node_modules/coriolan-ui/mixins/clearfix';

$sidebarWidth: 280px;

.release-page {
    // padding: 30px 10px;
    // max-width: 777px;
    // margin: 0 auto;
    // text-align: left;
    @include clearfix;

    &__title {
        float: left;
        width: 100%;
    }

    &__sidebar {
        overflow: hidden;
        float: left;
        width: $sidebarWidth;
        // position: fixed;
    }

    &__content {
        float: left;
        width: calc(100% - #{$sidebarWidth});
        // margin-left: $sidebarWidth;
    }
}
