@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';

.footer {
    padding: 40px 10px;
    background: #222;
    position: relative;

    &__copyright {
        margin-bottom: 20px;
    }

    &__powered {
        letter-spacing: 2.5px;
        font-size: 10px;
        line-height: 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media(M) {
            flex-direction: row;
        }

        &-development {
            padding: 0 4px;
        }

        &-link {
            color: #8ff;
            text-decoration: none;
            padding: 0 4px;
            cursor: pointer;
            display: inline-block;

            &-svg {
                display: inline-block;
                width: auto;
                height: 24px;
                margin-right: 8px;
                vertical-align: middle;
            }

            &-text {
                position: relative;
                padding: 0 4px;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    background: #8ff;
                    transition: left .25s ease;
                    right: 0;
                    height: 1px;
                }

                &:before {
                    top: 0;
                    left: 100%;
                }

                &:after {
                    bottom: -2px;
                    left: 0;
                }

                .footer__powered-link:hover &:before {
                    left: 0;
                }

                .footer__powered-link:hover &:after {
                    left: 100%;
                }
            }
        }
    }
}
