@import '../../node_modules/coriolan-ui/mixins/clearfix';

.release-list {
    padding: 0;
    margin: 0 auto;
    @include clearfix;
    list-style: none;
    box-sizing: border-box;
    text-align: center;

    .release-page & {
        text-align: right;
    }

    &__link {
        background: rgba(#fff,.0);
        color: #8ff;
        float: left;
        // width: 100%;
        width: 25%;
        transition: background .25s ease;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        font-size: 10px;
        padding: 6px 8px;
        box-sizing: border-box;

        .release-page & {
            width: 100%;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            background: #8ff;;
            transition: width .35s ease;
        }

        &:after {
            left: 0;
            top: 1px;
        }

        &:before {
            right: 0;
            bottom: 1px;
        }

        &:hover,
        &.is-selected {
            // color: #fff;
            background: rgba(#fff,.1);

            &:after,
            &:before {
                width: 100%;
            }
        }
    }

    &__cover {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 4px;
        // transition: width .2s ease;

        .release-page & {
            width: 14px;
            float: left;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}
