$S: 508px;
$M: 754px;
$L: 1054px;
$XL: 1300px;
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

$mainmenu__link-selected--height: 4px;

.mainmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(#222,1);
    padding: 0 10px;
    box-sizing: border-box;

    &__container {
        max-width: 999px;
        margin: 0 auto;
        @include clearfix;
    }

    &__link {
        padding: 10px 16px;
        // display: inline-block;
        line-height: 30px;
        // font-size: 16px;
        text-decoration: none;
        color: #8ff;
        // text-transform: uppercase;
        transition: opacity .25s ease;
        // font-weight: 700;
        position: relative;
        float: left;
        opacity: .6;
        // min-width: 40px;
        // box-sizing: border-box;
        // text-align: center;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            // height: 4px;
            transition: width .25s ease .15s, left .25s ease .15s, height .25s ease;
            // transition: width .25s ease .25s, left .25s ease .25s;
            // background: rgba(#fff,.4);
            background: #8ff;
            // border-radius: 0 0 100% 100%;
            // margin-top: -$mainmenu__link-selected--height/2;
        }

        // @include media(M) {
        //     padding: 16px 10px;
        // }

        &:hover {
            opacity: 1;
        }

        &.is-selected {
            opacity: 1;

            &:after {
                height: $mainmenu__link-selected--height;
                left: 0;
                width: 100%;
            }
        }

        &--logo {
            // font-family: 'Montserrat', sans-serif;
            font-family: monospace;
            letter-spacing: .1em;
        }

        .mainmenu__social-nav & {
            padding: 10px 8px;
        }
    }

    &__social-nav {
        float: right;
    }

    &__join {
        padding: 10px 14px;
        line-height: 30px;
        float: left;
        font-size: 10px;
        display: none;

        @include media(M) {
            display: block;
        }
    }

    &__link-svg {
        float: left;
        width: auto;
        height: 30px;
        vertical-align: middle;

        .mainmenu__social-nav & {
            padding: 4px 0;
            box-sizing: border-box;
        }
    }

    &__link-name {
        line-height: 30px;
        vertical-align: middle;
        margin-left: 1em;
        float: left;
        display: none;
        font-size: 14px;

        .mainmenu__social-nav & {
            font-size: 0;
            opacity: 0;
            transition: font-size .25s ease, opacity .25s ease .25s;
        }

        .mainmenu__social-nav .mainmenu__link:hover & {
            font-size: 10px;
            opacity: 1;
        }

        @include media(M) {
            display: inline-block;
        }
    }
}
